.contact{
    padding: 10vh 5vw;
    background-color: #FBFBFB;
    >p:nth-of-type(1){
        color: #1C174F;
        font-weight: 700;
        font-size: 2rem;
        text-align: center;
    }
    >p:nth-of-type(2){
        color: #717171;
        font-weight: 500;
        text-align: center;
        font-size: 1rem;
        margin-top: 5px;
    }
    >div{
        background-color: white;
        padding: 10px;
        border-radius: 8px;
        margin-top: 50px;
        display: flex;
        gap: 40px;

        >div:nth-of-type(1){
            background-color: #1C174F;
            color: white;
            border-radius: 8px;
            padding: 25px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 60vh;
            >div:nth-of-type(1){
                >p:nth-of-type(1){
                    font-weight: 600;
                    font-size: 1.2rem;
                }
                >p:nth-of-type(2){
                    color: #C9C9C9;
                    font-weight: 400;
                    font-size: 0.85rem;
                }
            }
            
            >div:nth-of-type(2){
                display: flex;
                flex-direction: column;
                gap: 20px;
                >div{
                    display: flex;
                    gap: 10px;
                    >span{
                        font-size: 0.75rem;
                    }
                }
            }
            >div:nth-of-type(3){
                display: flex;
                gap: 25px;
            }
        }
        >div:nth-of-type(2){
            position: relative;
            >img{
                position: absolute;
                height: 150px;
                width: 200px;
                left: 30vw;
            }
            >form{
                width: 50vw;
                >div:nth-of-type(1){
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 30px;
                    >div{
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        >label{
                            font-weight: 500;
                            color: #1C174F;
                            font-size: 0.85rem;
                        }
                        >input{
                            border: 0;
                            border-bottom: 1px solid #8D8D8D;
                            font-size: 0.95rem;
                            height: 5vh;
                            width: 20vw;
                            outline: none;
                            &:focus {
                                border-bottom: 2px solid #1C174F;
                              }
                        }
                        >input::placeholder{
                            color: #8D8D8D;
                            font-weight: 500;
                            font-size: 0.95rem;
                        }
                    }
                }
                >div:nth-of-type(2){
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 30px;
                    >div{
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        >label{
                            font-weight: 500;
                            color: #1C174F;
                            font-size: 0.85rem;
                        }
                        >input{
                            border: 0;
                            border-bottom: 1px solid #8D8D8D;
                            font-size: 0.95rem;
                            height: 5vh;
                            width: 20vw;
                            outline: none;
                            &:focus {
                                border-bottom: 2px solid #1C174F;
                              }
                        }
                        >input::placeholder{
                            color: #8D8D8D;
                            font-weight: 500;
                            font-size: 0.95rem;
                        }
                    }
                }
                >div:nth-of-type(3){
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    >label{
                        font-weight: 500;
                        color: #1C174F;
                        font-size: 0.85rem;
                    }
                    >input{
                        border: 0;
                        border-bottom: 1px solid #8D8D8D;
                        font-size: 0.95rem;
                        height: 5vh;
                        outline: none;
                            &:focus {
                                border-bottom: 2px solid #1C174F;
                              }
                    }
                    >input::placeholder{
                        color: #8D8D8D;
                        font-weight: 500;
                        font-size: 0.95rem;
                    }
                }
                >div:nth-of-type(4){
                    display: flex;
                    justify-content: flex-end;
                    >button{
                        background-color: #F7761F;
                        border: none;
                        border-radius: 5px;
                        font-size: 1rem;
                        font-weight: 500;
                        padding: 2vh 5.3vw;
                        color: white;
                        cursor: pointer;
                        margin-top: 40px;
                        text-align: right;
                    }
                    >button:hover{
                        background-color: #e26d1e;
                    }
                }
               
            }
           
        }
    }
}