@import "include-media";


$breakpoints: (
  smphone: 380px,
  phone: 480px,
  surfaceDuo: 540px,
  tablet: 768px,
  tabletTwo: 880px,
  desktop: 1024px,
  LGDesktop: 1920px,
);
.footer{
    padding: 10vh 5vw;
    background-color: #1C174F;
    color: white;
    @include media("<=phone") {
        padding: 25px 20px;
    }
    @include media("<=smphone") {
        padding: 20px 15px;
    }
    >img:nth-of-type(1) {
        display: block;
        margin: 0 auto;
        width: 135px;
      }
      >div:nth-of-type(1){
        height: 2px;
        background-color: white;
        width: 100%;
        margin-top: 5px;
      }
      >div:nth-of-type(2){
        display: flex;
        justify-content: space-between;
        margin-top: 25px;
        @include media("<=phone") {
            flex-wrap: wrap;
            // gap: 20px;
        }
        >div{
            display: flex;
            flex-direction: column;
            gap: 20px;
            @include media("<=phone") {
                flex: 0 0 48%;
                margin-bottom: 40px;
            }
            >p:nth-of-type(1){
                font-weight: 500;
                font-size:0.85rem;
                @include media("<=phone") {
                    font-size:1.3rem;
                }
                @include media("<=smphone") {
                    font-size:1rem;
                }
            }
            >div{
                display: flex;
                gap: 10px;
                >span{
                    font-size: 0.75rem;
                    @include media("<=phone") {
                        font-size:1rem;
                    }
                    @include media("<=smphone") {
                        font-size:0.85rem;
                    }
                }
            }
            >a{
                font-size: 0.75rem;
                @include media("<=phone") {
                    font-size:1rem;
                }
                @include media("<=smphone") {
                    font-size:0.85rem;
                }
            }
        }
        >div:nth-of-type(5){
            @include media("<=phone") {
                flex: 0 0 100%;
                width: 100%;
            }
            >div{
                background-color: #2C2D5B;
                border-radius: 10px;
                height: 27vh;
                width: 30vw;
                display: flex;
                justify-content: space-around;
                gap: 10px;
                flex-direction: column;
                padding: 5px 15px;
                @include media("<=phone") {
                    height: 20vh;
                    width: 100%;
                }
                >p:nth-of-type(1){
                    font-weight: 500;
                }
                >p:nth-of-type(2){
                    font-weight: 500;
                    font-size: 0.75rem;
                    color: #ffffff80;
                    @include media("<=phone") {
                    font-size: 0.85rem;
                    }
                    @include media("<=smphone") {
                        font-size:0.75rem;
                    }
                }
                >div{
                    display: flex;
                    align-items: center;
                    >input{
                        height: 6.5vh;
                        width: 15vw;
                        background-color: #02273A;
                        color: white;
                        border: 0;
                        border-radius: 7px 0 0 7px;
                        @include media("<=phone") {
                        height: 5.5vh;
                            width: 65%;
                        }
                    }
                    >input::placeholder{
                        padding: 0 15px;
                    }
                    >button{
                        background-color: #F7761F;
                        border: 0;
                        border-radius: 0 7px 7px 0;
                        color: white;
                        cursor: pointer;
                        height: 6.5vh;
                        width: 8vw;
                        @include media("<=phone") {
                            width: 25vw;
                        height: 5.5vh;
                        }
                    }
                    >button:hover{
                        background-color: #e26d1e;
                    }
                }
            }
        }
      }
}