@import "include-media";


$breakpoints: (
  smphone: 380px,
  phone: 480px,
  surfaceDuo: 540px,
  tablet: 768px,
  tabletTwo: 880px,
  desktop: 1024px,
  LGDesktop: 1920px,
);
$black: #191B1F;


.navbar{
    height: 13vh;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5vw;
    border-bottom: 1px #DDE1E6 solid;
    @include media("<=tabletTwo") {
        display: none;
    }
    >div:nth-of-type(1){
        display: flex;
        gap: 20px;
        >a{
            color: #1C174F;
            font-weight: 500;
            font-size: 1rem;
        }
    }
    >div:nth-of-type(2){
        >a{
            >button{
                background-color: #F7761F;
                border: 0;
                color: white;
                cursor: pointer;
                border-radius: 10px;
                padding: 14px;
                font-size: 1rem;
                font-weight: 500;
            }
            >button:hover{
                background-color: #e26d1e;
            }
        }
        
    }
}

// mobile navbar
.navThings{
    display: flex;
    gap: 20px;
    align-items: center;
    >img{
        height: 30px;
        width: 30px;
    }
}
.navvv{
    color: #0F0F0F;
    font-weight: 500;
    font-size: 1.4rem;
}
.mobileNavbar{
    height: 10vh;
    padding: 15px;
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 999999999;
    margin-bottom: 11vh;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    @include media("<=smphone") {
        height: 12vh;
    }
    >div{
      display: flex;
      flex-direction: column;
      >div:nth-of-type(1){
        display: flex;
        justify-content: space-between;
        align-items: center;
        >img{
          width: 30%;
        }
        ul{
          display: none;
          position: fixed;
          list-style: none;
          top: -18px;
          right: -5px;
          width: 85vw;
          height: 100vh;
          background: white;
          flex-direction: column;
          box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.25);
          gap: 45px;
          z-index: 1;
          opacity: 0;
          visibility: hidden;
          transition: all 0.3s ease-in-out;
          margin: 0;
          padding: 30px 0 10px 30px;
          @include media("<=tabletTwo") {
            height: 110vh;
            width: 85vw;
        }
          @include media("<=phone") {
            height: 110vh;
            width: 85vw;
        }
        @include media("<=smphone") {
            height: 110vh;
            width: 85vw;
        }
          >div{
            display: flex;
            justify-content: end;
            // >p{
            //     font-size: 18px;
            //     font-weight: 600;
            //     color: $black;
            //     @include media("<=smphone") {
            //         font-size: 13px;
            //     }
            // }
            .closeIcon{
                width: 40px;
                height: 40px;
                margin-right: 30px;
            }
          }
          li {
            font-size: 16px;
            font-weight: 400;
            color: $black;
            cursor: pointer;
            @include media("<=smphone") {
                font-size: 13px;
            }
          }
        }
        .open {
            display: flex;
            opacity: 1;
            visibility: visible;
            z-index: 1;

        }
        .toggle {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 50px;
            width: 50px;
            cursor: pointer;
        }
      }
    }
@include media(">tabletTwo") {
    display: none;
}
}