.navbar{
    height: 13vh;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5vw;
    border-bottom: 1px #DDE1E6 solid;
    >div:nth-of-type(1){
        display: flex;
        gap: 20px;
        >a{
            color: #1C174F;
            font-weight: 500;
            font-size: 1rem;
        }
    }
    >div:nth-of-type(2){
        >button{
            background-color: #F7761F;
            border: 0;
            color: white;
            cursor: pointer;
            border-radius: 10px;
            padding: 14px;
            font-size: 1rem;
            font-weight: 500;
        }
        >button:hover{
            background-color: #e26d1e;
        }
    }
}