@import "include-media";


$breakpoints: (
  smphone: 380px,
  phone: 480px,
  surfaceDuo: 540px,
  tablet: 768px,
  tabletTwo: 880px,
  desktop: 1024px,
  LGDesktop: 1920px,
);

.container {
    max-width: 700px;
    margin: 0 auto;
    padding: 2rem;
  }
  
  .title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    text-align: center;
    color: #1C174F;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .inputGroup {
    display: flex;
    flex-direction: column;
  }
  
  .inputGroup label {
    color: #1C174F;
    font-weight: 600;
    margin-bottom: 0.3rem;
  }
  
  // .inputGroup input {
  //   padding: 0.6rem;
  //   border: 1px solid #ccc;
  //   border-radius: 5px;
  // }
  
  .signature {
    margin-top: 1rem;
  }
  
  .signature label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 600;
    color: #1C174F;

  }
  
  .signatureCanvas {
    border: 2px solid #E6E8EC;
    border-radius: 12px;
    @include media("<=phone") {
      height: 15vh;
      width: 100%;
  }
  }
  
  .clearBtn {
    margin-top: 0.4rem;
    background: none;
    border: none;
    color: #F7761F;
    cursor: pointer;
    font-size: 0.9rem;
    text-decoration: underline;
  }
  
  .submitBtn {
    background-color: #F7761F;
    color: #fff;
    padding: 0.75rem 1.5rem;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 1rem;
    align-self: flex-start;
    @include media("<=phone") {
      padding: 2.2vh 10vw;
      font-size: 1rem;
  }
  }
  .submitBtn:hover{
    background-color: #e26d1e;
}
  
  .loading {
    color: #555;
    font-style: italic;
    margin-top: 1rem;
  }
  .downloadButton{
    background-color: #1C174F;
    color: #fff;
    padding: 0.75rem 1.5rem;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 1rem;
    align-self: flex-start;
    @include media("<=phone") {
      padding: 2.2vh 10vw;
      font-size: 1rem;
  }
  }
  .inputss{
    border: 2px solid #E6E8EC;
    border-radius: 12px;
    height: 48px;
    padding-left: 15px;

    @include media("<=phone") {
     height: 6vh;
     font-size: 0.95rem;
  }
  }
  .inputss::placeholder{
    color: #777E90;
  }
  


// pdf styling
// pdf styling
// pdf styling
// pdf styling
.pdfItsel{
    .logoA{
        display: flex;
        justify-content: center;
    }
    >p:nth-of-type(1){
        color: #1C174F;
        font-weight: 600;
        margin-top: 10px;
        text-align: center;
    }
    .pdfContent{
        margin-top: 50px;
        .headings{
            font-weight: 600;
            font-size: 14px;
            color: #1C174F;
            margin-top: 30px;
        }
        .infoHeader{
            font-size: 0.8rem;
            margin: 10px 0;
        }
        .pdfFields{
            border: 0;
            border-bottom: 1px solid #8D8D8D;
            font-size: 19px;
            width: 100%;
            padding: 10px;
        }
        .pdfThing{
            font-size: 10px;
            font-weight: 500;
        }
        .pdfThings{
            font-size: 8px;
        }
    }
}
