@import "include-media";


$breakpoints: (
  smphone: 380px,
  phone: 480px,
  surfaceDuo: 540px,
  tablet: 768px,
  tabletTwo: 880px,
  desktop: 1024px,
  LGDesktop: 1920px,
);

.price{
    // padding: 7vh 5vw;
    position: relative;
    >p{
        color: #1C174F;
        font-weight: 600;
        font-size: 2.5rem;
        margin-left: 10vw;
        margin-top: 50px;
        @include media("<=desktop") {
            font-size: 2rem;
            text-align: center;
            margin-bottom: 10px;
            margin-left: 0;
            }
        @include media("<=surfaceDuo") {
            font-size: 1.5rem;
            text-align: center;
            margin-bottom: 10px;
            margin-left: 0;
            }
    }
    >div:nth-of-type(1){
        position: absolute;
        border-radius: 26px;
        left: 10vw;
        padding: 5vh 3vw;
        top: 5%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
        background-color: white;
        z-index: 999;
        max-width: 50vw;
        @include media("<=desktop") {
            left: 50%;
            transform: translateX(-50%);
            top: 5%;
            min-width: 85vw;
            }
        @include media("<=tabletTwo") {
                left: 50%;
                transform: translateX(-50%);
                top: 5%;
                min-width: 85vw;
                }
        @include media("<=surfaceDuo") {
            left: 50%;
            transform: translateX(-50%);
            top: 4%;
            min-width: 90vw;
            }
            >p:nth-of-type(1){
                color: #F7761F;
                font-weight: 500;
                font-size: 1.5rem;
                margin: 20px 0;
                @include media("<=surfaceDuo") {
                    font-size: 1.1rem;
                    }
            }
            >div:nth-of-type(1){
                display: flex;
                justify-content: space-between;
                margin-bottom: 30px;
                gap: 20px;

                >div{
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    >label{
                        font-weight: 500;
                        color: #1C174F;
                        font-size: 0.85rem;
                    }
                    >select{
                        border: 2px solid #E6E8EC;
                        border-radius: 12px;
                        font-size: 0.95rem;
                        height: 6.5vh;
                        width: 20vw;
                        outline: none;
                        padding-left: 15px;
                        background-color: transparent;
                        color: #1C174F;
                        @include media("<=desktop") {
                            width: 30vw;
                            height: 5vh;
                            }
                        @include media("<=surfaceDuo") {
                            width: 38vw;
                            height: 5.5vh;
                            }
                        &:focus {
                            border: 2px solid #1C174F;
                          }
                    }
                    >input::placeholder{
                        color: #777E90;
                        font-weight: 500;
                        font-size: 0.75rem;
                    }
                }
            }
            >div:nth-of-type(2){
                display: flex;
                justify-content: space-between;
                margin-bottom: 30px;
                gap: 20px;

                >div{
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    >label{
                        font-weight: 500;
                        color: #1C174F;
                        font-size: 0.85rem;
                    }
                    >input{
                        border: 2px solid #E6E8EC;
                        border-radius: 12px;
                        font-size: 0.95rem;
                        height: 6.5vh;
                        width: 20vw;
                        outline: none;
                        padding-left: 15px;
                        color: #1C174F;
                        @include media("<=desktop") {
                            width: 30vw;
                            height: 5vh;
                            }
                        @include media("<=surfaceDuo") {
                            width: 38vw;
                            height: 5.5vh;
                            font-size: 16px;
                            }
                        &:focus {
                            border: 2px solid #1C174F;
                          }
                    }
                    >input::placeholder{
                        color: #777E90;
                        font-weight: 500;
                        font-size: 0.75rem;
                    }
                }
            }
        
    }
    >div:nth-of-type(2){
        position: absolute;
        border-radius: 26px;
        left: 10vw;
        padding: 5vh 3vw;
        top: 35%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
        background-color: white;
        z-index: 999;
        max-width: 50vw;
        @include media("<=desktop") {
            left: 50%;
            transform: translateX(-50%);
            top: 38%;
            min-width: 85vw;
            }
            @include media("<=tabletTwo") {
                left: 50%;
                transform: translateX(-50%);
                top: 35%;
                min-width: 85vw;
                }
        @include media("<=surfaceDuo") {
            left: 50%;
            transform: translateX(-50%);
            top: 36%;
            min-width: 90vw;
            }
        >p:nth-of-type(1){
            color: #F7761F;
            font-weight: 500;
            font-size: 1.5rem;
            margin: 20px 0;
            @include media("<=surfaceDuo") {
                font-size: 1.1rem;
                }
        }
        >div:nth-of-type(1), >div:nth-of-type(2){
            display: flex;
            margin-bottom: 40px;
            gap: 100px;
            @include media("<=desktop") {
                gap: 120px;
                }@include media("<=surfaceDuo") {
                    gap: 50px;
                    }
                @include media("<=smphone") {
                    gap: 20px;
                    }
            >div:nth-of-type(1), >div:nth-of-type(2){
                
                >img{
                    @include media("<=surfaceDuo") {
                        width: 130px;
                        height: 130px;
                        }
                        @include media("<=smphone") {
                            width: 90px;
                            height: 90px;
                            }
                }
                >p:nth-of-type(1){
                    font-size: 1.2rem;
                    margin: 5px 0;
                    @include media("<=surfaceDuo") {
                        font-size: 0.9rem;
                        }
                }
                >p:nth-of-type(2), >p:nth-of-type(3), >p:nth-of-type(4), >p:nth-of-type(5){
                    font-weight: 300;
                    font-size: 0.9rem;
                    margin: 4px 0;
                    @include media("<=surfaceDuo") {
                        font-size: 0.8rem;
                        }
                    >span{
                        font-weight: 500;
                        font-size: 1rem;
                        color: #F7761F;
                        @include media("<=surfaceDuo") {
                            font-size: 0.85rem;
                            }
                    }
                }
            }
        }
        >div:nth-of-type(3){
            background-color: #1C174F;
            display: flex;
            justify-content: space-between;
            border-radius: 30px;
            width: 100%;
            padding: 0 2vw;
            @include media("<=surfaceDuo") {
                border-radius: 20px;
                }
                @include media("<=smphone") {
                    border-radius: 15px;
                    }
            >div:nth-of-type(1){
                padding: 3vh 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 15px;
                width: 50%;
                @include media("<=tabletTwo") {
                    gap: 10px;
                    width: 60%;
                    }
                    @include media("<=smphone") {
                    gap: 8px;
                        }
                >p:nth-of-type(1){
                    color: white;
                    font-size: 0.75rem;
                    @include media("<=tabletTwo") {
                    font-size: 0.65rem;
                        }
                    @include media("<=surfaceDuo") {
                    font-size: 0.6rem;
                        }
                        @include media("<=smphone") {
                            font-size: 0.5rem;
                        }
                }
                >button{
                    background-color: #F7761F;
                    border-radius: 14px;
                    color: white;
                    border: 0;
                    font-weight: 600;
                    font-size: 0.75rem;
                    padding: 1.7vh 0;
                    width: 200px;
                    @include media("<=tabletTwo") {
                        font-size: 0.65rem;
                            }
                    @include media("<=surfaceDuo") {
                        font-size: 0.6rem;
                        width: 120px;
                        border-radius: 10px;
                            }
                            @include media("<=smphone") {
                                font-size: 0.5rem;
                                width: 100px;
                                    }
                }
                >p:nth-of-type(2){
                    color: white;
                    font-size: 0.75rem;
                    font-weight: 400;
                    @include media("<=tabletTwo") {
                        font-size: 0.65rem;
                            }
                    @include media("<=surfaceDuo") {
                        font-size: 0.6rem;
                            }
                    @include media("<=smphone") {
                        font-size: 0.5rem;
                                    }
                    >span{
                        font-weight: 600;
                    }
                }
                >p:nth-of-type(3){
                    color: #F7761F;
                    font-size: 0.75rem;
                    font-weight: 400;
                    @include media("<=tabletTwo") {
                        font-size: 0.65rem;
                            }
                    @include media("<=surfaceDuo") {
                        font-size: 0.5rem;
                            }
                }
            }
            >img{
                height: 200px;
                width: 200px;
                margin: auto 0;
                @include media("<=tabletTwo") {
                    height: 180px;
                    width: 180px;
                        }
                @include media("<=surfaceDuo") {
                    height: 150px;
                    width: 150px;
                    }
                    @include media("<=smphone") {
                        height: 100px;
                        width: 100px;
                        }
                    }
        }
    }
    >div:nth-of-type(3){
        height: 35vh;
        @include media("<=surfaceDuo") {
            height: 30vh;
            }
    }
    >div:nth-of-type(4){
        background-color: #F3F3F5;
        display: flex;
        justify-content: flex-end;
        height: 240vh;
        @include media("<=desktop") {
            height: 155vh;
            }
        @include media("<=surfaceDuo") {
            height: 167vh;
            }
            @include media("<=smphone") {
                height: 217vh;
                }
    }
}
.checkButton{
    background-color: #1C174F;
    cursor: pointer;
    color: white;
    border: 0;
    border-radius: 12px;
    padding: 3vh 7vw;
    display: block;
    margin-left: auto;
    @include media("<=desktop") {
        padding: 2vh 7vw;

        }
    @include media("<=surfaceDuo") {
        padding: 2vh 6vw;
        }

}
.note{
    color: #979797;
    font-size: 0.6rem;
    text-align: center;
    margin-top: 30px;
    // width: 50%;
}